venv/

__pycache__/
agents/__pycache__/
debate/__pycache__/

debate/debate_transcripts/
debate/eval_data/
evaluation/attitude_neutral_democrat/
evaluation/attitude_neutral_republican/
evaluation/attitude_neutral_republican_democrat/

*.pyc


