venv/

__pycache__/
agents/__pycache__/
debate/__pycache__/
evaluation/__pycache__/

debate/debate_transcripts/
debate/debate_transcripts/**

debate/eval_data/
debate/eval_data/**

debate/debate_config.yaml

evaluation/attitude_neutral_*/
evaluation/attitude_neutral_*/**

evaluation/eval_config.yaml

*.pyc


